<a href="https://colab.research.google.com/github/ksohn98/python-code/blob/master/test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# OK
for i in range(10):
  for j in range(10):
    print(i,j)

# This is title

In [7]:
# import pandas as pd

# df = pd.DataFrame([1,2,3])
# df2 = pd.DataFrame(range(10))

In [9]:
df2

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9